attrs==23.2.0
autopep8==2.0.4
binwalk==2.3.3
brlapi==0.8.5
btrfsutil==6.7.1
build==1.1.1
capstone==5.0.1
chardet==5.2.0
distro==1.9.0
dnspython==2.5.0
edlclient==3.60
entrypoints==0.4
flake8-black==0.3.6
gufw==24.4.0
html5lib==1.1
installer==0.7.0
jaraco.text==3.12.0
keystone-engine==0.9.2
lensfun==0.3.4
libvirt-python==10.1.0
louis==3.29.0
netsnmp-python==1.0a1
nftables==0.1
notify2==0.3.1
numpy==1.26.4
openrazer-daemon==3.7.0
ordered-set==4.1.0
perf==0.1
pip-chill==1.0.2
pipx==1.4.3
ply==3.11
pmbootstrap==2.2.1
psutil==5.9.8
pwquality==1.4.5
pycairo==1.26.0
pyopenssl==24.0.0
pytz==2024.1
pyxdg==0.28
reflector==2023.6.28.0.36.1
sphinx==7.2.6
tomli==2.0.1
trove-classifiers==2024.3.25
ufw==0.36.2
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
virtualenv==20.25.0
yt-dlp==2024.3.10
