aiodns==3.6.1
aiosqlite==0.22.0
isodate==0.7.2
lxml==6.0.2
marshmallow-enum==1.5.1
numpy==1.26.4
orjson==3.11.6
pillow==11.3.0
pixivpy-async==1.2.14
py-cord==2.4.1
pynacl==1.6.1
pysaucenao==1.6.3
pytz==2025.2
requests-oauthlib==2.0.0
spotipy==2.25.2
ai-edge-litert==2.1.0
typing-inspect==0.9.0
uvloop==0.22.1
yt-dlp==2026.1.29
beautifulsoup4==4.14.3